In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics

In [3]:
df=pd.read_csv("C:\\Users\\lordo\\DATASETS FOR EDA\\Life Expectancy Data.csv")

In [5]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [7]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

In [9]:
import pycountry_convert as pc

# Function to get the country continent from the country name:

# Step 1 : Converting the country_name to country_code:

# Step 2 : Converting the country_code to continent_code:

# Step 3 : Converting the continent_code to continent_name:

# if it fails to convert the continent_code to continent_name it will give "unknown"


# Creating country_to_continent function to get continent name:
def country_to_continent(country_name):
    try:
        country_code = pc.country_name_to_country_alpha2(country_name)
        continent_code = pc.country_alpha2_to_continent_code(country_code)
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except:
        return 'Unknown'

# Apply function to create new column
df['Continent'] = df['Country'].apply(country_to_continent)

In [11]:
df['Continent'].value_counts()

Continent
Africa           864
Asia             704
Europe           610
North America    338
South America    160
Oceania          150
Unknown          112
Name: count, dtype: int64

In [13]:
# Showing the unique country names with unknown continent:

unknown_countries = df[df['Continent'] == 'Unknown']['Country'].unique()
print(unknown_countries)

['Bolivia (Plurinational State of)' 'Iran (Islamic Republic of)'
 'Micronesia (Federated States of)' 'Republic of Korea'
 'The former Yugoslav republic of Macedonia' 'Timor-Leste'
 'Venezuela (Bolivarian Republic of)']

In [15]:
# Since these country names are not standard , the pycountry_convert library can not directly recognize them:

# To handle this case we need to create a manual mapping:


manual_continent_map = {
    'Bolivia (Plurinational State of)': 'South America',
    'Iran (Islamic Republic of)': 'Asia',
    'Micronesia (Federated States of)': 'Oceania',
    'Republic of Korea': 'Asia',
    'The former Yugoslav republic of Macedonia': 'Europe',
    'Timor-Leste': 'Asia',
    'Venezuela (Bolivarian Republic of)': 'South America'
}

df['Continent'] = df.apply(
    lambda row: manual_continent_map[row['Country']] if row['Continent'] == 'Unknown' 
    and row['Country'] in manual_continent_map else row['Continent'],
    axis=1)

In [17]:
df['Continent'].value_counts()

Continent
Africa           864
Asia             752
Europe           626
North America    338
South America    192
Oceania          166
Name: count, dtype: int64

In [19]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'Continent'],
      dtype='object')

# 1.Handling null values :

## 1.Life expectancy:

In [21]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [23]:
df[df['Life expectancy'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
624,Cook Islands,2013,Developing,NaN,NaN,0,0.01,0.000000,98.0,0,...,3.58,98.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN,Oceania
769,Dominica,2013,Developing,NaN,NaN,0,0.01,11.419555,96.0,0,...,5.58,96.0,0.1,722.756650,NaN,2.7,2.6,0.721,12.7,North America
1650,Marshall Islands,2013,Developing,NaN,NaN,0,0.01,871.878317,8.0,0,...,17.24,79.0,0.1,3617.752354,NaN,0.1,0.1,NaN,0.0,Oceania
1715,Monaco,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,Europe
1812,Nauru,2013,Developing,NaN,NaN,0,0.01,15.606596,87.0,0,...,4.65,87.0,0.1,136.183210,NaN,0.1,0.1,NaN,9.6,Oceania
1909,Niue,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,7.20,99.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN,Oceania
1958,Palau,2013,Developing,NaN,NaN,0,NaN,344.690631,99.0,0,...,9.27,99.0,0.1,1932.122370,292.0,0.1,0.1,0.779,14.2,Oceania
2167,Saint Kitts and Nevis,2013,Developing,NaN,NaN,0,8.54,0.000000,97.0,0,...,6.14,96.0,0.1,NaN,NaN,3.7,3.6,0.749,13.4,North America
2216,San Marino,2013,Developing,NaN,NaN,0,0.01,0.000000,69.0,0,...,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1,Europe
2713,Tuvalu,2013,Developing,NaN,NaN,0,0.01,78.281203,9.0,0,...,16.61,9.0,0.1,3542.135890,1819.0,0.2,0.1,NaN,0.0,Oceania

In [25]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'Continent'],
      dtype='object')

In [33]:
# Step 1: Create mask for null Life expectancy in 2013
mask = (df['Year'] == 2013) & (df['Life expectancy'].isna())

# Step 2: Define function that fills using mean from same Continent & Status (excluding current country)
def fill_from_group_mean(row):
    group = df[
        (df['Continent'] == row['Continent']) &
        (df['Status'] == row['Status']) &
        (df['Year'] == 2013) &
        (df['Life expectancy'].notna()) &
        (df['Country'] != row[' Country']) # exclude same country
    ]
    return group['Life expectancy'].mean()

# Step 3: Apply only on masked rows and assign back â€” safely
df.loc[mask, 'Life expectancy'] = df.loc[mask].copy().apply(fill_from_group_mean, axis=1)

# Step 4: Optional - check columns
print(df.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'Continent'],
      dtype='object')

In [29]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [35]:
df.groupby(['Continent','Status'])['Life expectancy'].mean()

Continent      Status
Africa         Developing    58.611921
Asia           Developed     81.229167
               Developing    70.510511
Europe         Developed     78.824279
               Developing    74.663663
North America  Developed     78.062500
               Developing    73.569255
Oceania        Developed     81.575000
               Developing    68.653358
South America  Developing    72.971875
Name: Life expectancy, dtype: float64

In [ ]:
To fill missing values in the Life expectancy column for the year 2013, using the average life expectancy of other countries that belong to the same Continent and Status, but excluding the current country itself.
Only non-null values for Life expectancy from the year 2013 should be considered when computing the mean.

# 2.Adult Mortality:

In [38]:
# Step 1: Mask for null 'Adult Mortality' in year 2013
mask_am = (df['Year'] == 2013) & (df['Adult Mortality'].isna())

# Step 2: Define group mean function
def fill_adult_mortality_from_group(row):
    group = df[
        (df['Continent'] == row['Continent']) &
        (df['Status'] == row['Status']) &
        (df['Year'] == 2013) &
        (df['Adult Mortality'].notna()) &
        (df['Country'] != row['Country'])  # Exclude current country
    ]
    return group['Adult Mortality'].mean()

# Step 3: Apply only to masked rows and assign back safely
df.loc[mask_am, 'Adult Mortality'] = df.loc[mask_am].copy().apply(fill_adult_mortality_from_group, axis=1)

In [40]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

# 3 . Alcohol :

In [43]:
df[df['Alcohol'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
32,Algeria,2015,Developing,75.6,19.0,21,NaN,0.0,95.0,63,...,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4,Africa
48,Angola,2015,Developing,52.4,335.0,66,NaN,0.0,64.0,118,...,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4,Africa
64,Antigua and Barbuda,2015,Developing,76.4,13.0,0,NaN,0.0,99.0,0,...,NaN,99.0,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9,North America
80,Argentina,2015,Developing,76.3,116.0,8,NaN,0.0,94.0,0,...,NaN,94.0,0.1,13467.123600,43417765.0,1.0,0.9,0.826,17.3,South America
96,Armenia,2015,Developing,74.8,118.0,1,NaN,0.0,94.0,33,...,NaN,94.0,0.1,369.654776,291695.0,2.1,2.2,0.741,12.7,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),2015,Developing,74.1,157.0,9,NaN,0.0,87.0,0,...,NaN,87.0,0.1,NaN,NaN,1.6,1.5,0.769,14.3,South America
2874,Viet Nam,2015,Developing,76.0,127.0,28,NaN,0.0,97.0,256,...,NaN,97.0,0.1,NaN,NaN,14.2,14.5,0.678,12.6,Asia
2890,Yemen,2015,Developing,65.7,224.0,37,NaN,0.0,69.0,468,...,NaN,69.0,0.1,NaN,NaN,13.6,13.4,0.499,9.0,Asia
2906,Zambia,2015,Developing,61.8,33.0,27,NaN,0.0,9.0,9,...,NaN,9.0,4.1,1313.889646,161587.0,6.3,6.1,0.576,12.5,Africa
2922,Zimbabwe,2015,Developing,67.0,336.0,22,NaN,0.0,87.0,0,...,NaN,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3,Africa

In [ ]:
You want to fill missing Alcohol values where Year == 2015 and Alcohol is null

For each country, get Alcohol values from 2014 and 2016

Take the average of those two years (if both exist), and fill it in

In [45]:
# Step 1: Mask for missing Alcohol values in 2015
mask_alcohol = (df['Year'] == 2015) & (df['Alcohol'].isna())

# Step 2: Define a function to fill from that country's 2014 and 2016 Alcohol values
def fill_alcohol_2015_from_neighbors(row):
    country = row['Country']
    
    # Get alcohol values for 2014 and 2016 for this country
    val_2014 = df.loc[(df['Country'] == country) & (df['Year'] == 2014), 'Alcohol'].values
    val_2016 = df.loc[(df['Country'] == country) & (df['Year'] == 2016), 'Alcohol'].values
    
    # Only fill if both values exist and are not NaN
    if len(val_2014) > 0 and len(val_2016) > 0:
        if not pd.isna(val_2014[0]) and not pd.isna(val_2016[0]):
            return (val_2014[0] + val_2016[0]) / 2
    return row['Alcohol']  # Return as-is (NaN)

# Step 3: Apply and fill missing Alcohol values in 2015
df.loc[mask_alcohol, 'Alcohol'] = df.loc[mask_alcohol].copy().apply(fill_alcohol_2015_from_neighbors, axis=1)

In [47]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [49]:
# Mask: only 2015 rows with missing Alcohol
mask_alcohol = (df['Year'] == 2015) & (df['Alcohol'].isna())

# Robust fill function
def fill_alcohol_2015_from_neighbors(row):
    country = row['Country']
    
    val_2014 = df.loc[(df['Country'] == country) & (df['Year'] == 2014), 'Alcohol'].values
    val_2016 = df.loc[(df['Country'] == country) & (df['Year'] == 2016), 'Alcohol'].values
    
    val_2014 = val_2014[0] if len(val_2014) > 0 else None
    val_2016 = val_2016[0] if len(val_2016) > 0 else None
    
    # Handle 3 cases
    if pd.notna(val_2014) and pd.notna(val_2016):
        return (val_2014 + val_2016) / 2
    elif pd.notna(val_2014):
        return val_2014
    elif pd.notna(val_2016):
        return val_2016
    else:
        return np.nan  # Can't fill

# Apply
df.loc[mask_alcohol, 'Alcohol'] = df.loc[mask_alcohol].copy().apply(fill_alcohol_2015_from_neighbors, axis=1)

In [51]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                             18
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [53]:
df[df['Alcohol'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
1742,Montenegro,2005,Developing,73.600,133.00,0,NaN,527.307672,NaN,0,...,8.46,NaN,0.1,3674.617924,614261.0,2.3,2.3,0.746,12.8,Europe
1958,Palau,2013,Developing,69.275,155.75,0,NaN,344.690631,99.0,0,...,9.27,99.0,0.1,1932.122370,292.0,0.1,0.1,0.779,14.2,Oceania
2409,South Sudan,2015,Developing,57.300,332.00,26,NaN,0.000000,31.0,878,...,NaN,31.0,3.4,758.725782,11882136.0,NaN,NaN,0.421,4.9,Africa
2410,South Sudan,2014,Developing,56.600,343.00,26,NaN,46.074469,NaN,441,...,2.74,39.0,3.5,1151.861715,1153971.0,NaN,NaN,0.421,4.9,Africa
2411,South Sudan,2013,Developing,56.400,345.00,26,NaN,47.444530,NaN,525,...,2.62,45.0,3.6,1186.113250,1117749.0,NaN,NaN,0.417,4.9,Africa
2412,South Sudan,2012,Developing,56.000,347.00,26,NaN,38.338232,NaN,1952,...,2.77,59.0,3.8,958.455810,1818258.0,NaN,NaN,0.419,4.9,Africa
2413,South Sudan,2011,Developing,55.400,355.00,27,NaN,0.000000,NaN,1256,...,NaN,61.0,3.9,176.971300,1448857.0,NaN,NaN,0.429,4.9,Africa
2414,South Sudan,2010,Developing,55.000,359.00,27,NaN,0.000000,NaN,0,...,NaN,NaN,4.0,1562.239346,167192.0,NaN,NaN,0.000,0.0,Africa
2415,South Sudan,2009,Developing,54.300,369.00,27,NaN,0.000000,NaN,0,...,NaN,NaN,4.2,1264.789980,967667.0,NaN,NaN,0.000,0.0,Africa
2416,South Sudan,2008,Developing,53.600,377.00,27,NaN,0.000000,NaN,0,...,NaN,NaN,4.2,1678.711862,9263136.0,NaN,NaN,0.000,0.0,Africa
2417,South Sudan,2007,Developing,53.100,381.00,27,NaN,0.000000,NaN,0,...,NaN,NaN,4.2,NaN,88568.0,NaN,NaN,0.000,0.0,Africa
2418,South Sudan,2006,Developing,52.500,383.00,28,NaN,0.000000,NaN,0,...,NaN,NaN,4.1,NaN,8468152.0,NaN,NaN,0.000,0.0,Africa
2419,South Sudan,2005,Developing,51.900,383.00,28,NaN,0.000000,NaN,0,...,NaN,NaN,3.9,NaN,818877.0,NaN,NaN,0.000,0.0,Africa
2420,South Sudan,2004,Developing,51.400,383.00,29,NaN,0.000000,NaN,0,...,NaN,NaN,3.8,NaN,7787655.0,NaN,NaN,0.000,0.0,Africa
2421,South Sudan,2003,Developing,58.000,383.00,29,NaN,0.000000,NaN,0,...,NaN,NaN,3.5,NaN,751642.0,NaN,NaN,0.000,0.0,Africa
2422,South Sudan,2002,Developing,52.000,382.00,30,NaN,0.000000,NaN,0,...,NaN,NaN,3.3,NaN,7237276.0,NaN,NaN,0.000,0.0,Africa
2423,South Sudan,2001,Developing,49.600,381.00,30,NaN,0.000000,NaN,0,...,NaN,NaN,3.0,NaN,6974442.0,NaN,NaN,0.000,0.0,Africa
2424,South Sudan,2000,Developing,48.900,38.00,31,NaN,0.000000,NaN,0,...,NaN,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0,Africa

In [55]:
# STEP 1 : Calcualte the average of alcohol where year is 2004 and 2006 for Montenegro:

filtered_Montenegro_alcohol = (df['Country']=='Montenegro') & (df['Status']=='Developing') & (df['Year'].isin([2004,2006]))
                                                                                         
mean_Montenegro_alcohol = df[filtered_Montenegro_alcohol]['Alcohol'].mean()

mean_Montenegro_alcohol


# Step 2: Fill nulls for 2005 in Montenegro	 Developing countries with that mean:

Montenegro_2005_null_developing = (
    (df['Country']=="Montenegro")&
    (df['Status']=='Developing') &
    (df['Year']==2005) &
    (df['Alcohol'].isnull()))

# Step 3. Filling the above null values with mean_Montenegro_alcohol
df.loc[Montenegro_2005_null_developing,'Alcohol']=mean_Montenegro_alcohol

In [57]:
# STEP 1: Calculate the average Alcohol value for Palau in 2012 and 2014
filtered_Palau_alcohol = (
    (df['Country'] == 'Palau') &
    (df['Status'] == 'Developing') &
    (df['Year'].isin([2012, 2014]))
)

mean_Palau_alcohol = df[filtered_Palau_alcohol]['Alcohol'].mean()
print(mean_Palau_alcohol)

# STEP 2: Identify rows for Palau in 2013 with missing Alcohol data
Palau_2013_null_developing = (
    (df['Country'] == 'Palau') &
    (df['Status'] == 'Developing') &
    (df['Year'] == 2013) &
    (df['Alcohol'].isnull())
)

# STEP 3: Fill the null Alcohol values with the calculated mean
df.loc[Palau_2013_null_developing, 'Alcohol'] = mean_Palau_alcohol

nan

In [59]:
africa_dev_mean = df[
    (df['Continent'] == 'Africa') & 
    (df['Status'] == 'Developing') & 
    (df['Alcohol'].notnull())
]['Alcohol'].mean()

print("Mean alcohol consumption:", africa_dev_mean)

Mean alcohol consumption: 2.5161674528301887

In [61]:
 # Step 2: Fill null Alcohol values for African countries only
df.loc[
    (df['Continent'] == 'Africa') & (df['Alcohol'].isnull()),
    'Alcohol'
] = africa_dev_mean

In [63]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              1
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [65]:
df.loc[df['Country']=='Palau'][['Country','Year']]

     Country  Year
1958   Palau  2013

In [67]:
# The palau appeared for only one time:

Oceania_dev_mean = df[
    (df['Continent'] == 'Oceania') & 
    (df['Status'] == 'Developing') & 
     (df['Year'] == 2013)&
    (df['Alcohol'].notnull())
]['Alcohol'].mean()

print("Mean alcohol consumption:", Oceania_dev_mean)

Mean alcohol consumption: 0.1376923076923077

In [69]:
 # Step 2: Fill null Alcohol values for African countries only
df.loc[
    (df['Continent'] == 'Oceania') & (df['Alcohol'].isnull()),
    'Alcohol'
] = Oceania_dev_mean

In [71]:
df.groupby(['Continent','Status'])['Alcohol'].mean()

Continent      Status
Africa         Developing     2.516167
Asia           Developed      5.994583
               Developing     1.808054
Europe         Developed     10.197957
               Developing     7.831500
North America  Developed      8.594375
               Developing     5.944627
Oceania        Developed      9.646875
               Developing     1.145207
South America  Developing     5.736927
Name: Alcohol, dtype: float64

# 4. Hepatitis B:

In [74]:
df[df['Hepatitis B'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
44,Algeria,2003,Developing,71.7,146.0,20,0.34,25.018523,NaN,15374,...,3.60,87.0,0.1,294.335560,3243514.0,6.3,6.1,0.663,11.5,Africa
45,Algeria,2002,Developing,71.6,145.0,20,0.36,148.511984,NaN,5862,...,3.73,86.0,0.1,1774.336730,3199546.0,6.3,6.2,0.653,11.1,Africa
46,Algeria,2001,Developing,71.4,145.0,20,0.23,147.986071,NaN,2686,...,3.84,89.0,0.1,1732.857979,31592153.0,6.4,6.3,0.644,10.9,Africa
47,Algeria,2000,Developing,71.3,145.0,21,0.25,154.455944,NaN,0,...,3.49,86.0,0.1,1757.177970,3118366.0,6.5,6.4,0.636,10.7,Africa
57,Angola,2006,Developing,47.7,381.0,90,5.84,25.086888,NaN,765,...,4.54,34.0,2.5,262.415149,2262399.0,9.8,9.7,0.439,7.2,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,Zambia,2004,Developing,47.9,578.0,36,2.46,8.369852,NaN,35,...,7.33,83.0,17.6,53.277222,11731746.0,7.2,7.1,0.456,10.5,Africa
2918,Zambia,2003,Developing,46.4,64.0,39,2.33,65.789974,NaN,881,...,8.18,83.0,18.2,429.158343,11421984.0,7.3,7.2,0.443,10.2,Africa
2919,Zambia,2002,Developing,45.5,69.0,41,2.44,54.043480,NaN,25036,...,6.93,84.0,18.4,377.135244,111249.0,7.4,7.3,0.433,10.0,Africa
2920,Zambia,2001,Developing,44.6,611.0,43,2.61,46.830275,NaN,16997,...,6.56,85.0,18.6,378.273624,1824125.0,7.4,7.4,0.424,9.8,Africa
2921,Zambia,2000,Developing,43.8,614.0,44,2.62,45.616880,NaN,30930,...,7.16,85.0,18.7,341.955625,1531221.0,7.5,7.5,0.418,9.6,Africa

In [78]:
df.groupby(['Continent','Status'])['Hepatitis B'].apply(lambda x:x.isnull().sum())

Continent      Status
Africa         Developing    234
Asia           Developed      16
               Developing     50
Europe         Developed     156
               Developing     40
North America  Developed       0
               Developing     36
Oceania        Developed       1
               Developing      0
South America  Developing     20
Name: Hepatitis B, dtype: int64

In [80]:
# Fill missing Hepatitis B values using group-wise mean
df['Hepatitis B'] = df.groupby(['Continent', 'Status', 'Year'])['Hepatitis B']\
                      .transform(lambda x: x.fillna(x.mean()))

In [82]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [84]:
df.groupby(['Continent','Status'])['Hepatitis B'].mean()

Continent      Status
Africa         Developing    75.067357
Asia           Developed     94.250000
               Developing    83.114367
Europe         Developed     88.219666
               Developing    78.163741
North America  Developed     81.375000
               Developing    83.130755
Oceania        Developed     79.156250
               Developing    71.246269
South America  Developing    81.635444
Name: Hepatitis B, dtype: float64

In [86]:
df[df['Country'] == 'Zambia'][['Year', 'Hepatitis B']].sort_values('Year')

      Year  Hepatitis B
2921  2000    84.090909
2920  2001    76.615385
2919  2002    70.217391
2918  2003    62.148148
2917  2004    75.600000
2916  2005    82.000000
2915  2006    81.000000
2914  2007     8.000000
2913  2008    87.000000
2912  2009    94.000000
2911  2010    83.000000
2910  2011    81.000000
2909  2012    78.000000
2908  2013    79.000000
2907  2014    86.000000
2906  2015     9.000000

In [88]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

# Bmi

In [93]:
df[df['BMI'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
1715,Monaco,2013,Developing,76.684615,94.0,0,0.010000,0.000000,99.000000,0,...,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,Europe
2216,San Marino,2013,Developing,76.684615,94.0,0,0.010000,0.000000,69.000000,0,...,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1,Europe
2409,South Sudan,2015,Developing,57.300000,332.0,26,2.516167,0.000000,31.000000,878,...,NaN,31.0,3.4,758.725782,11882136.0,NaN,NaN,0.421,4.9,Africa
2410,South Sudan,2014,Developing,56.600000,343.0,26,2.516167,46.074469,75.075472,441,...,2.74,39.0,3.5,1151.861715,1153971.0,NaN,NaN,0.421,4.9,Africa
2411,South Sudan,2013,Developing,56.400000,345.0,26,2.516167,47.444530,77.423077,525,...,2.62,45.0,3.6,1186.113250,1117749.0,NaN,NaN,0.417,4.9,Africa
2412,South Sudan,2012,Developing,56.000000,347.0,26,2.516167,38.338232,75.921569,1952,...,2.77,59.0,3.8,958.455810,1818258.0,NaN,NaN,0.419,4.9,Africa
2413,South Sudan,2011,Developing,55.400000,355.0,27,2.516167,0.000000,78.647059,1256,...,NaN,61.0,3.9,176.971300,1448857.0,NaN,NaN,0.429,4.9,Africa
2414,South Sudan,2010,Developing,55.000000,359.0,27,2.516167,0.000000,71.862745,0,...,NaN,NaN,4.0,1562.239346,167192.0,NaN,NaN,0.000,0.0,Africa
2415,South Sudan,2009,Developing,54.300000,369.0,27,2.516167,0.000000,78.460000,0,...,NaN,NaN,4.2,1264.789980,967667.0,NaN,NaN,0.000,0.0,Africa
2416,South Sudan,2008,Developing,53.600000,377.0,27,2.516167,0.000000,78.680851,0,...,NaN,NaN,4.2,1678.711862,9263136.0,NaN,NaN,0.000,0.0,Africa
2417,South Sudan,2007,Developing,53.100000,381.0,27,2.516167,0.000000,74.363636,0,...,NaN,NaN,4.2,NaN,88568.0,NaN,NaN,0.000,0.0,Africa
2418,South Sudan,2006,Developing,52.500000,383.0,28,2.516167,0.000000,73.027027,0,...,NaN,NaN,4.1,NaN,8468152.0,NaN,NaN,0.000,0.0,Africa
2419,South Sudan,2005,Developing,51.900000,383.0,28,2.516167,0.000000,75.500000,0,...,NaN,NaN,3.9,NaN,818877.0,NaN,NaN,0.000,0.0,Africa
2420,South Sudan,2004,Developing,51.400000,383.0,29,2.516167,0.000000,75.600000,0,...,NaN,NaN,3.8,NaN,7787655.0,NaN,NaN,0.000,0.0,Africa
2421,South Sudan,2003,Developing,58.000000,383.0,29,2.516167,0.000000,62.148148,0,...,NaN,NaN,3.5,NaN,751642.0,NaN,NaN,0.000,0.0,Africa
2422,South Sudan,2002,Developing,52.000000,382.0,30,2.516167,0.000000,70.217391,0,...,NaN,NaN,3.3,NaN,7237276.0,NaN,NaN,0.000,0.0,Africa
2423,South Sudan,2001,Developing,49.600000,381.0,30,2.516167,0.000000,76.615385,0,...,NaN,NaN,3.0,NaN,6974442.0,NaN,NaN,0.000,0.0,Africa
2424,South Sudan,2000,Developing,48.900000,38.0,31,2.516167,0.000000,84.090909,0,...,NaN,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0,Africa
2457,Sudan,2015,Developing,64.100000,225.0,58,0.010000,0.000000,93.000000,3585,...,NaN,93.0,0.3,2513.884661,3864783.0,NaN,NaN,0.488,7.2,Africa
2458,Sudan,2014,Developing,63.800000,229.0,59,0.010000,253.608651,94.000000,676,...,8.43,94.0,0.3,2176.898290,37737913.0,NaN,NaN,0.485,7.2,Africa
2459,Sudan,2013,Developing,63.500000,232.0,60,0.010000,227.835321,93.000000,2813,...,8.42,93.0,0.3,1955.667990,36849918.0,NaN,NaN,0.478,7.0,Africa
2460,Sudan,2012,Developing,63.200000,235.0,61,0.010000,220.522192,92.000000,8523,...,8.20,92.0,0.3,1892.894352,3599192.0,NaN,NaN,0.468,6.8,Africa
2461,Sudan,2011,Developing,62.700000,241.0,61,2.120000,196.689215,93.000000,5616,...,8.30,93.0,0.3,1666.857757,35167314.0,NaN,NaN,0.463,7.0,Africa
2462,Sudan,2010,Developing,62.500000,243.0,62,1.770000,172.009788,75.000000,680,...,7.97,9.0,0.3,1476.478870,34385963.0,NaN,NaN,0.461,7.0,Africa
2463,Sudan,2009,Developing,62.000000,248.0,63,1.990000,17.053693,72.000000,68,...,8.40,81.0,0.3,1226.884381,3365619.0,NaN,NaN,0.456,6.8,Africa
2464,Sudan,2008,Developing,61.800000,251.0,64,2.010000,128.636271,78.000000,129,...,8.17,86.0,0.3,1291.528826,32955496.0,NaN,NaN,0.444,6.3,Africa
2465,Sudan,2007,Developing,61.400000,254.0,65,2.010000,86.131669,78.000000,327,...,4.72,84.0,0.3,1115.695200,32282526.0,NaN,NaN,0.440,6.4,Africa
2466,Sudan,2006,Developing,61.000000,26.0,66,1.900000,60.336857,6.000000,228,...,3.93,78.0,0.2,893.879364,316764.0,NaN,NaN,0.430,6.2,Africa
2467,Sudan,2005,Developing,67.000000,261.0,66,1.550000,37.590396,22.000000,1374,...,3.18,78.0,0.2,679.753995,3911914.0,NaN,NaN,0.423,6.1,Africa
2468,Sudan,2004,Developing,59.700000,278.0,68,1.590000,37.044800,75.600000,9562,...,3.39,74.0,0.2,565.569459,3186341.0,NaN,NaN,0.415,5.7,Africa
2469,Sudan,2003,Developing,59.600000,278.0,69,1.740000,35.352647,62.148148,4381,...,3.18,69.0,0.2,477.738478,29435944.0,NaN,NaN,0.409,5.6,Africa
2470,Sudan,2002,Developing,59.400000,277.0,70,1.590000,30.622875,70.217391,4529,...,2.95,6.0,0.2,412.151756,28679565.0,NaN,NaN,0.403,5.6,Africa
2471,Sudan,2001,Developing,58.900000,283.0,71,1.810000,28.880697,76.615385,4362,...,2.96,66.0,0.2,377.525445,279455.0,NaN,NaN,0.399,5.6,Africa
2472,Sudan,2000,Developing,58.600000,284.0,71,1.760000,30.860010,84.090909,2875,...,3.23,62.0,0.1,361.358430,2725535.0,NaN,NaN,0.394,5.5,Africa

In [134]:
df['BMI'] = df.groupby(['Continent', 'Status','Year'])['BMI'].transform(lambda x: x.fillna(x.mean()))

In [113]:
monaco_2013_null_developing = (
    (df['Continent']=='Europe')&
    (df['Status']=='Developing') &
    (df['Year']==2013 ) &
    (df['Alcohol'].isnull()))

df.loc[monaco_2013_null_developing,'BMI']=mean_europe_bmi

In [119]:
monaco_2013_null_developing = (
    (df['Continent']=='Europe')&
    (df['Status']=='Developing') &
    (df['Year']==2013 ) &
    (df['Alcohol'].isnull()))

In [121]:
df.loc[monaco_2013_null_developing,'BMI']=mean_europe_bmi

In [ ]:
monaco_2013_null_developing = (
    (df['Continent']=='Europe')&
    (df['Status']=='Developing') &
    (df['Year']==2013 ) &
    (df['Alcohol'].isnull()))

df.loc[monaco_2013_null_developing,'BMI']=mean_europe_bmi

In [123]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [125]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

# 5. Polio:

In [128]:
df[df['Polio'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
1742,Montenegro,2005,Developing,73.6,133.0,0,2.695000,527.307672,84.000000,0,...,8.46,NaN,0.1,3674.617924,614261.0,2.3,2.3,0.746,12.8,Europe
1743,Montenegro,2004,Developing,73.5,134.0,0,0.010000,57.121901,75.200000,0,...,8.45,NaN,0.1,338.199535,613353.0,2.3,2.4,0.740,12.6,Europe
1744,Montenegro,2003,Developing,73.5,134.0,0,0.010000,495.078296,77.571429,0,...,8.91,NaN,0.1,2789.173500,612267.0,2.4,2.4,0.000,0.0,Europe
1745,Montenegro,2002,Developing,73.4,136.0,0,0.010000,36.480240,77.571429,0,...,8.33,NaN,0.1,216.243274,69828.0,2.5,2.5,0.000,0.0,Europe
1746,Montenegro,2001,Developing,73.3,136.0,0,0.010000,33.669814,52.857143,0,...,8.23,NaN,0.1,199.583957,67389.0,2.5,2.6,0.000,0.0,Europe
1747,Montenegro,2000,Developing,73.0,144.0,0,0.010000,274.547260,52.333333,0,...,7.32,NaN,0.1,1627.428930,6495.0,2.6,2.7,0.000,0.0,Europe
2414,South Sudan,2010,Developing,55.0,359.0,27,2.516167,0.000000,71.862745,0,...,NaN,NaN,4.0,1562.239346,167192.0,NaN,NaN,0.000,0.0,Africa
2415,South Sudan,2009,Developing,54.3,369.0,27,2.516167,0.000000,78.460000,0,...,NaN,NaN,4.2,1264.789980,967667.0,NaN,NaN,0.000,0.0,Africa
2416,South Sudan,2008,Developing,53.6,377.0,27,2.516167,0.000000,78.680851,0,...,NaN,NaN,4.2,1678.711862,9263136.0,NaN,NaN,0.000,0.0,Africa
2417,South Sudan,2007,Developing,53.1,381.0,27,2.516167,0.000000,74.363636,0,...,NaN,NaN,4.2,NaN,88568.0,NaN,NaN,0.000,0.0,Africa
2418,South Sudan,2006,Developing,52.5,383.0,28,2.516167,0.000000,73.027027,0,...,NaN,NaN,4.1,NaN,8468152.0,NaN,NaN,0.000,0.0,Africa
2419,South Sudan,2005,Developing,51.9,383.0,28,2.516167,0.000000,75.500000,0,...,NaN,NaN,3.9,NaN,818877.0,NaN,NaN,0.000,0.0,Africa
2420,South Sudan,2004,Developing,51.4,383.0,29,2.516167,0.000000,75.600000,0,...,NaN,NaN,3.8,NaN,7787655.0,NaN,NaN,0.000,0.0,Africa
2421,South Sudan,2003,Developing,58.0,383.0,29,2.516167,0.000000,62.148148,0,...,NaN,NaN,3.5,NaN,751642.0,NaN,NaN,0.000,0.0,Africa
2422,South Sudan,2002,Developing,52.0,382.0,30,2.516167,0.000000,70.217391,0,...,NaN,NaN,3.3,NaN,7237276.0,NaN,NaN,0.000,0.0,Africa
2423,South Sudan,2001,Developing,49.6,381.0,30,2.516167,0.000000,76.615385,0,...,NaN,NaN,3.0,NaN,6974442.0,NaN,NaN,0.000,0.0,Africa
2424,South Sudan,2000,Developing,48.9,38.0,31,2.516167,0.000000,84.090909,0,...,NaN,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0,Africa
2615,Timor-Leste,2001,Developing,59.4,269.0,3,0.500000,6.556583,76.517241,0,...,3.75,NaN,0.1,56.424987,892531.0,12.1,12.2,0.470,9.8,Asia
2616,Timor-Leste,2000,Developing,58.7,276.0,3,0.500000,49.069672,77.000000,0,...,3.26,NaN,0.1,422.286330,87167.0,12.2,12.2,0.000,0.0,Asia

In [130]:
df['Polio'] = df.groupby(['Continent', 'Status','Year'])['Polio'].transform(lambda x: x.fillna(x.mean()))

In [136]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

# 7 . Total Expenditure:

In [141]:
df[df['Total expenditure'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
32,Algeria,2015,Developing,75.6,19.0,21,0.01,0.0,95.0,63,...,NaN,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4,Africa
48,Angola,2015,Developing,52.4,335.0,66,8.33,0.0,64.0,118,...,NaN,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4,Africa
64,Antigua and Barbuda,2015,Developing,76.4,13.0,0,8.56,0.0,99.0,0,...,NaN,99.0,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9,North America
80,Argentina,2015,Developing,76.3,116.0,8,7.93,0.0,94.0,0,...,NaN,94.0,0.1,13467.123600,43417765.0,1.0,0.9,0.826,17.3,South America
96,Armenia,2015,Developing,74.8,118.0,1,3.91,0.0,94.0,33,...,NaN,94.0,0.1,369.654776,291695.0,2.1,2.2,0.741,12.7,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,Venezuela (Bolivarian Republic of),2015,Developing,74.1,157.0,9,6.47,0.0,87.0,0,...,NaN,87.0,0.1,NaN,NaN,1.6,1.5,0.769,14.3,South America
2874,Viet Nam,2015,Developing,76.0,127.0,28,4.09,0.0,97.0,256,...,NaN,97.0,0.1,NaN,NaN,14.2,14.5,0.678,12.6,Asia
2890,Yemen,2015,Developing,65.7,224.0,37,0.01,0.0,69.0,468,...,NaN,69.0,0.1,NaN,NaN,13.6,13.4,0.499,9.0,Asia
2906,Zambia,2015,Developing,61.8,33.0,27,0.01,0.0,9.0,9,...,NaN,9.0,4.1,1313.889646,161587.0,6.3,6.1,0.576,12.5,Africa
2922,Zimbabwe,2015,Developing,67.0,336.0,22,6.50,0.0,87.0,0,...,NaN,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3,Africa

In [162]:
# Step 1: Mask for missing 'Total expenditure' in 2015
mask_total_expenditure = (df['Year'] == 2015) & (df['Total expenditure'].isna())

# Step 2: Define fill function using 2014 and 2016
def fill_total_expenditure_2015_from_neighbors(row):
    country = row['Country']
    
    val_2014 = df.loc[(df['Country'] == country) & (df['Year'] == 2014), 'Total expenditure'].values
    val_2016 = df.loc[(df['Country'] == country) & (df['Year'] == 2016), 'Total expenditure'].values
    
    val_2014 = val_2014[0] if len(val_2014) > 0 else None
    val_2016 = val_2016[0] if len(val_2016) > 0 else None
    
    # Handle 3 cases
    if pd.notna(val_2014) and pd.notna(val_2016):
        return (val_2014 + val_2016) / 2
    elif pd.notna(val_2014):
        return val_2014
    elif pd.notna(val_2016):
        return val_2016
    else:
        return np.nan  # Can't fill

# Step 3: Apply and update only the rows with null in 2015
df.loc[mask_total_expenditure, 'Total expenditure'] = (
    df.loc[mask_total_expenditure].apply(fill_total_expenditure_2015_from_neighbors, axis=1)
)

In [164]:
df[df['Total expenditure'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
705,Democratic People's Republic of Korea,2015,Developing,76.0,139.0,6,0.010000,0.0,96.000000,0,...,NaN,96.0,0.1,NaN,NaN,4.9,4.9,NaN,NaN,Asia
706,Democratic People's Republic of Korea,2014,Developing,73.0,142.0,6,0.010000,0.0,93.000000,3,...,NaN,93.0,0.1,NaN,NaN,4.9,4.9,NaN,NaN,Asia
707,Democratic People's Republic of Korea,2013,Developing,71.0,146.0,6,3.350000,0.0,93.000000,0,...,NaN,93.0,0.1,NaN,NaN,5.0,5.0,NaN,NaN,Asia
708,Democratic People's Republic of Korea,2012,Developing,69.8,149.0,7,3.610000,0.0,96.000000,0,...,NaN,96.0,0.1,NaN,NaN,5.1,5.1,NaN,NaN,Asia
709,Democratic People's Republic of Korea,2011,Developing,69.4,153.0,8,3.390000,0.0,94.000000,0,...,NaN,94.0,0.1,NaN,NaN,5.1,5.2,NaN,NaN,Asia
710,Democratic People's Republic of Korea,2010,Developing,69.0,157.0,8,3.120000,0.0,93.000000,0,...,NaN,93.0,0.1,NaN,NaN,5.2,5.2,NaN,NaN,Asia
711,Democratic People's Republic of Korea,2009,Developing,68.7,161.0,9,3.350000,0.0,93.000000,0,...,NaN,93.0,0.1,NaN,NaN,5.3,5.3,NaN,NaN,Asia
712,Democratic People's Republic of Korea,2008,Developing,68.6,164.0,9,3.160000,0.0,92.000000,8,...,NaN,92.0,0.1,NaN,NaN,5.4,5.4,NaN,NaN,Asia
713,Democratic People's Republic of Korea,2007,Developing,68.5,166.0,9,3.130000,0.0,92.000000,3550,...,NaN,92.0,0.1,NaN,NaN,5.5,5.5,NaN,NaN,Asia
714,Democratic People's Republic of Korea,2006,Developing,68.5,165.0,10,3.280000,0.0,96.000000,0,...,NaN,89.0,0.1,NaN,NaN,5.6,5.6,NaN,NaN,Asia
715,Democratic People's Republic of Korea,2005,Developing,68.5,165.0,10,3.210000,0.0,92.000000,0,...,NaN,79.0,0.1,NaN,NaN,5.7,5.7,NaN,NaN,Asia
716,Democratic People's Republic of Korea,2004,Developing,68.4,165.0,11,3.130000,0.0,98.000000,0,...,NaN,72.0,0.1,NaN,NaN,5.7,5.7,NaN,NaN,Asia
717,Democratic People's Republic of Korea,2003,Developing,68.1,165.0,12,3.130000,0.0,27.000000,0,...,NaN,68.0,0.1,NaN,NaN,5.8,5.8,NaN,NaN,Asia
718,Democratic People's Republic of Korea,2002,Developing,67.6,167.0,14,3.080000,0.0,75.818182,0,...,NaN,64.0,0.1,NaN,NaN,5.9,5.9,NaN,NaN,Asia
719,Democratic People's Republic of Korea,2001,Developing,66.6,177.0,16,2.530000,0.0,76.517241,0,...,NaN,62.0,0.1,NaN,NaN,5.9,6.0,NaN,NaN,Asia
720,Democratic People's Republic of Korea,2000,Developing,65.4,192.0,18,3.520000,0.0,77.000000,0,...,NaN,56.0,0.1,NaN,NaN,6.0,6.0,NaN,NaN,Asia
1247,Iraq,2002,Developing,74.0,14.0,30,0.150000,0.0,65.000000,0,...,NaN,77.0,0.1,NaN,24939299.0,5.5,5.3,0.614,9.1,Asia
1248,Iraq,2001,Developing,72.0,142.0,30,0.170000,0.0,66.000000,4088,...,NaN,78.0,0.1,NaN,24251649.0,5.6,5.3,0.607,8.7,Asia
1249,Iraq,2000,Developing,70.0,144.0,30,0.200000,0.0,67.000000,726,...,NaN,8.0,0.1,NaN,23565413.0,5.6,5.4,0.603,8.6,Asia
2377,Somalia,2015,Developing,55.0,312.0,50,0.010000,0.0,42.000000,7497,...,NaN,42.0,0.7,426.985370,NaN,6.6,6.4,NaN,NaN,Africa
2378,Somalia,2014,Developing,54.3,321.0,51,0.010000,0.0,42.000000,10229,...,NaN,42.0,0.8,417.891430,NaN,6.7,6.5,NaN,NaN,Africa
2379,Somalia,2013,Developing,54.2,318.0,51,0.010000,0.0,42.000000,3173,...,NaN,42.0,0.8,47.543235,NaN,6.8,6.6,NaN,NaN,Africa
2380,Somalia,2012,Developing,53.1,336.0,51,0.010000,0.0,75.921569,9983,...,NaN,42.0,0.8,NaN,NaN,6.8,6.7,NaN,NaN,Africa
2381,Somalia,2011,Developing,53.1,329.0,51,0.010000,0.0,78.647059,17298,...,NaN,41.0,0.8,NaN,NaN,6.9,6.7,NaN,NaN,Africa
2382,Somalia,2010,Developing,52.4,336.0,52,0.010000,0.0,71.862745,115,...,NaN,45.0,0.8,NaN,NaN,7.0,6.8,NaN,NaN,Africa
2383,Somalia,2009,Developing,52.2,335.0,52,0.010000,0.0,78.460000,13,...,NaN,42.0,0.8,NaN,NaN,7.1,6.9,NaN,NaN,Africa
2384,Somalia,2008,Developing,51.9,336.0,52,0.010000,0.0,78.680851,1081,...,NaN,31.0,0.9,NaN,NaN,7.2,7.0,NaN,NaN,Africa
2385,Somalia,2007,Developing,51.5,34.0,52,0.010000,0.0,74.363636,1149,...,NaN,4.0,0.9,NaN,NaN,7.3,7.1,NaN,NaN,Africa
2386,Somalia,2006,Developing,51.5,337.0,51,0.010000,0.0,73.027027,7,...,NaN,26.0,0.9,NaN,NaN,7.4,7.2,NaN,NaN,Africa
2387,Somalia,2005,Developing,51.6,334.0,50,0.010000,0.0,75.500000,0,...,NaN,35.0,0.9,NaN,NaN,7.5,7.3,NaN,NaN,Africa
2388,Somalia,2004,Developing,51.2,341.0,49,0.010000,0.0,75.600000,12008,...,NaN,3.0,0.9,NaN,NaN,7.6,7.4,NaN,NaN,Africa
2389,Somalia,2003,Developing,51.1,344.0,48,0.010000,0.0,62.148148,8257,...,NaN,4.0,0.9,NaN,NaN,7.7,7.5,NaN,NaN,Africa
2390,Somalia,2002,Developing,58.0,348.0,47,0.010000,0.0,70.217391,9559,...,NaN,4.0,0.9,NaN,NaN,7.8,7.6,NaN,NaN,Africa
2391,Somalia,2001,Developing,57.0,352.0,46,0.010000,0.0,76.615385,3571,...,NaN,33.0,0.8,NaN,NaN,7.9,7.7,NaN,NaN,Africa
2392,Somalia,2000,Developing,55.0,355.0,45,0.010000,0.0,84.090909,3965,...,NaN,33.0,0.8,NaN,NaN,8.0,7.9,NaN,NaN,Africa
2413,South Sudan,2011,Developing,55.4,355.0,27,2.516167,0.0,78.647059,1256,...,NaN,61.0,3.9,176.971300,1448857.0,NaN,NaN,0.429,4.9,Africa
2414,South Sudan,2010,Developing,55.0,359.0,27,2.516167,0.0,71.862745,0,...,NaN,NaN,4.0,1562.239346,167192.0,NaN,NaN,0.000,0.0,Africa
2415,South Sudan,2009,Developing,54.3,369.0,27,2.516167,0.0,78.460000,0,...,NaN,NaN,4.2,1264.789980,967667.0,NaN,NaN,0.000,0.0,Africa
2416,South Sudan,2008,Developing,53.6,377.0,27,2.516167,0.0,78.680851,0,...,NaN,NaN,4.2,1678.711862,9263136.0,NaN,NaN,0.000,0.0,Africa
2417,South Sudan,2007,Developing,53.1,381.0,27,2.516167,0.0,74.363636,0,...,NaN,NaN,4.2,NaN,88568.0,NaN,NaN,0.000,0.0,Africa
2418,South Sudan,2006,Developing,52.5,383.0,28,2.516167,0.0,73.027027,0,...,NaN,NaN,4.1,NaN,8468152.0,NaN,NaN,0.000,0.0,Africa
2419,South Sudan,2005,Developing,51.9,383.0,28,2.516167,0.0,75.500000,0,...,NaN,NaN,3.9,NaN,818877.0,NaN,NaN,0.000,0.0,Africa
2420,South Sudan,2004,Developing,51.4,383.0,29,2.516167,0.0,75.600000,0,...,NaN,NaN,3.8,NaN,7787655.0,NaN,NaN,0.000,0.0,Africa
2421,South Sudan,2003,Developing,58.0,383.0,29,2.516167,0.0,62.148148,0,...,NaN,NaN,3.5,NaN,751642.0,NaN,NaN,0.000,0.0,Africa
2422,South Sudan,2002,Developing,52.0,382.0,30,2.516167,0.0,70.217391,0,...,NaN,NaN,3.3,NaN,7237276.0,NaN,NaN,0.000,0.0,Africa
2423,South Sudan,2001,Developing,49.6,381.0,30,2.516167,0.0,76.615385,0,...,NaN,NaN,3.0,NaN,6974442.0,NaN,NaN,0.000,0.0,Africa
2424,South Sudan,2000,Developing,48.9,38.0,31,2.516167,0.0,84.090909,0,...,NaN,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0,Africa

In [156]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'Continent'],
      dtype='object')

In [166]:
df['Total expenditure'] = df.groupby(['Continent', 'Status','Year'])['Total expenditure'].transform(lambda x: x.fillna(x.mean()))

In [168]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

# 8. Dipahteria:

In [173]:
df[df['Diphtheria'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
1742,Montenegro,2005,Developing,73.6,133.0,0,2.695000,527.307672,84.000000,0,...,8.460000,NaN,0.1,3674.617924,614261.0,2.3,2.3,0.746,12.8,Europe
1743,Montenegro,2004,Developing,73.5,134.0,0,0.010000,57.121901,75.200000,0,...,8.450000,NaN,0.1,338.199535,613353.0,2.3,2.4,0.740,12.6,Europe
1744,Montenegro,2003,Developing,73.5,134.0,0,0.010000,495.078296,77.571429,0,...,8.910000,NaN,0.1,2789.173500,612267.0,2.4,2.4,0.000,0.0,Europe
1745,Montenegro,2002,Developing,73.4,136.0,0,0.010000,36.480240,77.571429,0,...,8.330000,NaN,0.1,216.243274,69828.0,2.5,2.5,0.000,0.0,Europe
1746,Montenegro,2001,Developing,73.3,136.0,0,0.010000,33.669814,52.857143,0,...,8.230000,NaN,0.1,199.583957,67389.0,2.5,2.6,0.000,0.0,Europe
1747,Montenegro,2000,Developing,73.0,144.0,0,0.010000,274.547260,52.333333,0,...,7.320000,NaN,0.1,1627.428930,6495.0,2.6,2.7,0.000,0.0,Europe
2414,South Sudan,2010,Developing,55.0,359.0,27,2.516167,0.000000,71.862745,0,...,5.412692,NaN,4.0,1562.239346,167192.0,NaN,NaN,0.000,0.0,Africa
2415,South Sudan,2009,Developing,54.3,369.0,27,2.516167,0.000000,78.460000,0,...,5.792692,NaN,4.2,1264.789980,967667.0,NaN,NaN,0.000,0.0,Africa
2416,South Sudan,2008,Developing,53.6,377.0,27,2.516167,0.000000,78.680851,0,...,5.209808,NaN,4.2,1678.711862,9263136.0,NaN,NaN,0.000,0.0,Africa
2417,South Sudan,2007,Developing,53.1,381.0,27,2.516167,0.000000,74.363636,0,...,4.999808,NaN,4.2,NaN,88568.0,NaN,NaN,0.000,0.0,Africa
2418,South Sudan,2006,Developing,52.5,383.0,28,2.516167,0.000000,73.027027,0,...,5.097500,NaN,4.1,NaN,8468152.0,NaN,NaN,0.000,0.0,Africa
2419,South Sudan,2005,Developing,51.9,383.0,28,2.516167,0.000000,75.500000,0,...,5.335769,NaN,3.9,NaN,818877.0,NaN,NaN,0.000,0.0,Africa
2420,South Sudan,2004,Developing,51.4,383.0,29,2.516167,0.000000,75.600000,0,...,5.434808,NaN,3.8,NaN,7787655.0,NaN,NaN,0.000,0.0,Africa
2421,South Sudan,2003,Developing,58.0,383.0,29,2.516167,0.000000,62.148148,0,...,5.231923,NaN,3.5,NaN,751642.0,NaN,NaN,0.000,0.0,Africa
2422,South Sudan,2002,Developing,52.0,382.0,30,2.516167,0.000000,70.217391,0,...,5.007885,NaN,3.3,NaN,7237276.0,NaN,NaN,0.000,0.0,Africa
2423,South Sudan,2001,Developing,49.6,381.0,30,2.516167,0.000000,76.615385,0,...,4.904808,NaN,3.0,NaN,6974442.0,NaN,NaN,0.000,0.0,Africa
2424,South Sudan,2000,Developing,48.9,38.0,31,2.516167,0.000000,84.090909,0,...,5.004231,NaN,2.7,NaN,67656.0,NaN,NaN,0.000,0.0,Africa
2615,Timor-Leste,2001,Developing,59.4,269.0,3,0.500000,6.556583,76.517241,0,...,3.750000,NaN,0.1,56.424987,892531.0,12.1,12.2,0.470,9.8,Asia
2616,Timor-Leste,2000,Developing,58.7,276.0,3,0.500000,49.069672,77.000000,0,...,3.260000,NaN,0.1,422.286330,87167.0,12.2,12.2,0.000,0.0,Asia

In [175]:
df['Diphtheria'] = df.groupby(['Continent', 'Status','Year'])['Diphtheria'].transform(lambda x: x.fillna(x.mean()))

In [177]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

# 9 . Gdp:

In [180]:
df[df['GDP'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
160,Bahamas,2015,Developing,76.1,147.0,0,9.45,0.0,95.0,0,...,7.74,95.0,0.1,NaN,NaN,2.5,2.5,0.790,12.6,North America
161,Bahamas,2014,Developing,75.4,16.0,0,9.45,0.0,96.0,0,...,7.74,96.0,0.1,NaN,NaN,2.5,2.5,0.789,12.6,North America
162,Bahamas,2013,Developing,74.8,172.0,0,9.42,0.0,97.0,0,...,7.50,97.0,0.1,NaN,NaN,2.5,2.5,0.790,12.6,North America
163,Bahamas,2012,Developing,74.9,167.0,0,9.50,0.0,96.0,0,...,7.43,98.0,0.2,NaN,NaN,2.5,2.5,0.789,12.6,North America
164,Bahamas,2011,Developing,75.0,162.0,0,9.34,0.0,95.0,0,...,7.63,98.0,0.1,NaN,NaN,2.5,2.5,0.788,12.6,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2901,Yemen,2004,Developing,62.2,247.0,42,0.06,0.0,43.0,12708,...,4.90,72.0,0.1,NaN,NaN,13.9,13.9,0.464,8.4,Asia
2902,Yemen,2003,Developing,61.9,249.0,43,0.04,0.0,38.0,8536,...,5.00,61.0,0.1,NaN,NaN,14.0,13.9,0.457,8.2,Asia
2903,Yemen,2002,Developing,61.5,25.0,45,0.07,0.0,31.0,890,...,4.22,65.0,0.1,NaN,NaN,14.0,14.0,0.450,8.0,Asia
2904,Yemen,2001,Developing,61.1,251.0,46,0.08,0.0,19.0,485,...,4.34,73.0,0.1,NaN,NaN,14.0,14.0,0.444,7.9,Asia
2905,Yemen,2000,Developing,68.0,252.0,48,0.07,0.0,14.0,0,...,4.14,74.0,0.1,NaN,NaN,14.1,14.1,0.436,7.7,Asia

In [186]:
df['GDP'] = df.groupby(['Continent', 'Status','Year'])['GDP'].transform(lambda x: x.fillna(x.mean()))

In [182]:
df.groupby(['Continent','Status'])['GDP'].apply(lambda x:x.isnull().sum())

Continent      Status
Africa         Developing    126
Asia           Developed       0
               Developing    124
Europe         Developed      48
               Developing     34
North America  Developed      16
               Developing     49
Oceania        Developed       0
               Developing     19
South America  Developing     32
Name: GDP, dtype: int64

In [188]:
df.groupby(['Continent','Status'])['GDP'].apply(lambda x:x.isnull().sum())

Continent      Status
Africa         Developing     0
Asia           Developed      0
               Developing     0
Europe         Developed      0
               Developing     0
North America  Developed     16
               Developing     0
Oceania        Developed      0
               Developing     0
South America  Developing     0
Name: GDP, dtype: int64

In [190]:
df[df['GDP'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
2794,United States of America,2015,Developed,79.3,13.0,23,8.82,0.0,92.0,188,...,17.14,95.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN,North America
2795,United States of America,2014,Developed,79.1,14.0,23,8.82,0.0,92.0,667,...,17.14,95.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN,North America
2796,United States of America,2013,Developed,78.9,16.0,23,8.82,0.0,91.0,187,...,16.90,94.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2797,United States of America,2012,Developed,78.8,16.0,24,8.82,0.0,9.0,55,...,17.20,94.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2798,United States of America,2011,Developed,78.7,16.0,25,8.67,0.0,91.0,220,...,17.60,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2799,United States of America,2010,Developed,78.7,15.0,25,8.55,0.0,92.0,63,...,17.20,95.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2800,United States of America,2009,Developed,78.5,18.0,26,8.71,0.0,92.0,71,...,17.00,95.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2801,United States of America,2008,Developed,78.2,18.0,27,8.74,0.0,94.0,140,...,16.20,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2802,United States of America,2007,Developed,78.1,11.0,27,8.74,0.0,93.0,43,...,15.57,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2803,United States of America,2006,Developed,77.8,113.0,28,8.63,0.0,93.0,55,...,15.27,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2804,United States of America,2005,Developed,77.5,112.0,28,8.52,0.0,93.0,66,...,15.15,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2805,United States of America,2004,Developed,77.5,111.0,28,8.48,0.0,92.0,37,...,15.14,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2806,United States of America,2003,Developed,77.2,114.0,28,8.40,0.0,92.0,56,...,15.60,96.0,0.1,NaN,NaN,0.7,0.6,NaN,NaN,North America
2807,United States of America,2002,Developed,77.0,115.0,28,8.33,0.0,88.0,41,...,14.55,94.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN,North America
2808,United States of America,2001,Developed,76.9,115.0,28,8.25,0.0,89.0,116,...,13.73,94.0,0.1,NaN,NaN,0.8,0.6,NaN,NaN,North America
2809,United States of America,2000,Developed,76.8,114.0,28,8.21,0.0,9.0,85,...,13.70,94.0,0.1,NaN,NaN,0.8,0.7,NaN,NaN,North America

In [192]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
HIV/AIDS                             0
GDP                                 16
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [194]:
df['GDP'] = df.groupby(['Continent', 'Status'])['GDP'].transform(lambda x: x.fillna(x.mean()))

In [196]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
HIV/AIDS                             0
GDP                                 16
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [198]:
# First try filling by Continent + Status + Year
df['GDP'] = df.groupby(['Continent', 'Status', 'Year'])['GDP'].transform(lambda x: x.fillna(x.mean()))

# Then fallback to Continent + Status (if some values still NaN)

In [200]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
HIV/AIDS                             0
GDP                                 16
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [202]:
print("Remaining GDP nulls:", df['GDP'].isna().sum())

Remaining GDP nulls: 16

In [217]:
df['GDP'] = df.groupby(['Continent', 'Year'])['GDP'].transform(lambda x: x.fillna(x.mean()))

In [219]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
HIV/AIDS                             0
GDP                                  0
Population                           0
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

# 10 population:

In [206]:
df[df['Population'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
64,Antigua and Barbuda,2015,Developing,76.4,13.0,0,8.56,0.000000,99.0,0,...,5.54,99.0,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9,North America
65,Antigua and Barbuda,2014,Developing,76.2,131.0,0,8.56,2422.999774,99.0,0,...,5.54,99.0,0.2,12888.296670,NaN,3.3,3.3,0.782,13.9,North America
66,Antigua and Barbuda,2013,Developing,76.1,133.0,0,8.58,1991.430372,99.0,0,...,5.33,99.0,0.2,12224.864160,NaN,3.3,3.3,0.781,13.9,North America
67,Antigua and Barbuda,2012,Developing,75.9,134.0,0,8.18,2156.229842,98.0,0,...,5.39,98.0,0.2,12565.441970,NaN,3.3,3.3,0.778,13.8,North America
68,Antigua and Barbuda,2011,Developing,75.7,136.0,0,7.84,1810.875316,99.0,0,...,5.65,99.0,0.1,11929.349910,NaN,3.3,3.3,0.782,14.1,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2901,Yemen,2004,Developing,62.2,247.0,42,0.06,0.000000,43.0,12708,...,4.90,72.0,0.1,5542.560395,NaN,13.9,13.9,0.464,8.4,Asia
2902,Yemen,2003,Developing,61.9,249.0,43,0.04,0.000000,38.0,8536,...,5.00,61.0,0.1,3800.198008,NaN,14.0,13.9,0.457,8.2,Asia
2903,Yemen,2002,Developing,61.5,25.0,45,0.07,0.000000,31.0,890,...,4.22,65.0,0.1,3644.221545,NaN,14.0,14.0,0.450,8.0,Asia
2904,Yemen,2001,Developing,61.1,251.0,46,0.08,0.000000,19.0,485,...,4.34,73.0,0.1,2207.014783,NaN,14.0,14.0,0.444,7.9,Asia
2905,Yemen,2000,Developing,68.0,252.0,48,0.07,0.000000,14.0,0,...,4.14,74.0,0.1,2851.985700,NaN,14.1,14.1,0.436,7.7,Asia

In [209]:
df['Population'] = df.groupby(['Continent', 'Status', 'Year'])['Population'].transform(lambda x: x.fillna(x.mean()))

In [211]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
HIV/AIDS                             0
GDP                                 16
Population                          16
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

In [213]:
df['Population'] = df.groupby(['Continent',  'Year'])['Population'].transform(lambda x: x.fillna(x.mean()))

In [221]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
HIV/AIDS                             0
GDP                                  0
Population                           0
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
dtype: int64

# 10 . Thin ness 1 to 19 year:

In [224]:
df[df['thinness  1-19 years'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent
1715,Monaco,2013,Developing,76.684615,94.0,0,0.010000,0.000000,99.000000,0,...,4.300000,99.000000,0.1,14403.686388,4.316426e+06,NaN,NaN,NaN,NaN,Europe
2216,San Marino,2013,Developing,76.684615,94.0,0,0.010000,0.000000,69.000000,0,...,6.500000,69.000000,0.1,14403.686388,4.316426e+06,NaN,NaN,NaN,15.1,Europe
2409,South Sudan,2015,Developing,57.300000,332.0,26,2.516167,0.000000,31.000000,878,...,2.740000,31.000000,3.4,758.725782,1.188214e+07,NaN,NaN,0.421,4.9,Africa
2410,South Sudan,2014,Developing,56.600000,343.0,26,2.516167,46.074469,75.075472,441,...,2.740000,39.000000,3.5,1151.861715,1.153971e+06,NaN,NaN,0.421,4.9,Africa
2411,South Sudan,2013,Developing,56.400000,345.0,26,2.516167,47.444530,77.423077,525,...,2.620000,45.000000,3.6,1186.113250,1.117749e+06,NaN,NaN,0.417,4.9,Africa
2412,South Sudan,2012,Developing,56.000000,347.0,26,2.516167,38.338232,75.921569,1952,...,2.770000,59.000000,3.8,958.455810,1.818258e+06,NaN,NaN,0.419,4.9,Africa
2413,South Sudan,2011,Developing,55.400000,355.0,27,2.516167,0.000000,78.647059,1256,...,5.984423,61.000000,3.9,176.971300,1.448857e+06,NaN,NaN,0.429,4.9,Africa
2414,South Sudan,2010,Developing,55.000000,359.0,27,2.516167,0.000000,71.862745,0,...,5.412692,70.490566,4.0,1562.239346,1.671920e+05,NaN,NaN,0.000,0.0,Africa
2415,South Sudan,2009,Developing,54.300000,369.0,27,2.516167,0.000000,78.460000,0,...,5.792692,76.867925,4.2,1264.789980,9.676670e+05,NaN,NaN,0.000,0.0,Africa
2416,South Sudan,2008,Developing,53.600000,377.0,27,2.516167,0.000000,78.680851,0,...,5.209808,78.830189,4.2,1678.711862,9.263136e+06,NaN,NaN,0.000,0.0,Africa
2417,South Sudan,2007,Developing,53.100000,381.0,27,2.516167,0.000000,74.363636,0,...,4.999808,75.075472,4.2,1807.363572,8.856800e+04,NaN,NaN,0.000,0.0,Africa
2418,South Sudan,2006,Developing,52.500000,383.0,28,2.516167,0.000000,73.027027,0,...,5.097500,69.150943,4.1,1550.920000,8.468152e+06,NaN,NaN,0.000,0.0,Africa
2419,South Sudan,2005,Developing,51.900000,383.0,28,2.516167,0.000000,75.500000,0,...,5.335769,67.490566,3.9,1191.110713,8.188770e+05,NaN,NaN,0.000,0.0,Africa
2420,South Sudan,2004,Developing,51.400000,383.0,29,2.516167,0.000000,75.600000,0,...,5.434808,65.415094,3.8,1109.531833,7.787655e+06,NaN,NaN,0.000,0.0,Africa
2421,South Sudan,2003,Developing,58.000000,383.0,29,2.516167,0.000000,62.148148,0,...,5.231923,63.509434,3.5,1193.590677,7.516420e+05,NaN,NaN,0.000,0.0,Africa
2422,South Sudan,2002,Developing,52.000000,382.0,30,2.516167,0.000000,70.217391,0,...,5.007885,62.962264,3.3,815.065978,7.237276e+06,NaN,NaN,0.000,0.0,Africa
2423,South Sudan,2001,Developing,49.600000,381.0,30,2.516167,0.000000,76.615385,0,...,4.904808,56.660377,3.0,1059.246905,6.974442e+06,NaN,NaN,0.000,0.0,Africa
2424,South Sudan,2000,Developing,48.900000,38.0,31,2.516167,0.000000,84.090909,0,...,5.004231,55.622642,2.7,970.864774,6.765600e+04,NaN,NaN,0.000,0.0,Africa
2457,Sudan,2015,Developing,64.100000,225.0,58,0.010000,0.000000,93.000000,3585,...,8.430000,93.000000,0.3,2513.884661,3.864783e+06,NaN,NaN,0.488,7.2,Africa
2458,Sudan,2014,Developing,63.800000,229.0,59,0.010000,253.608651,94.000000,676,...,8.430000,94.000000,0.3,2176.898290,3.773791e+07,NaN,NaN,0.485,7.2,Africa
2459,Sudan,2013,Developing,63.500000,232.0,60,0.010000,227.835321,93.000000,2813,...,8.420000,93.000000,0.3,1955.667990,3.684992e+07,NaN,NaN,0.478,7.0,Africa
2460,Sudan,2012,Developing,63.200000,235.0,61,0.010000,220.522192,92.000000,8523,...,8.200000,92.000000,0.3,1892.894352,3.599192e+06,NaN,NaN,0.468,6.8,Africa
2461,Sudan,2011,Developing,62.700000,241.0,61,2.120000,196.689215,93.000000,5616,...,8.300000,93.000000,0.3,1666.857757,3.516731e+07,NaN,NaN,0.463,7.0,Africa
2462,Sudan,2010,Developing,62.500000,243.0,62,1.770000,172.009788,75.000000,680,...,7.970000,9.000000,0.3,1476.478870,3.438596e+07,NaN,NaN,0.461,7.0,Africa
2463,Sudan,2009,Developing,62.000000,248.0,63,1.990000,17.053693,72.000000,68,...,8.400000,81.000000,0.3,1226.884381,3.365619e+06,NaN,NaN,0.456,6.8,Africa
2464,Sudan,2008,Developing,61.800000,251.0,64,2.010000,128.636271,78.000000,129,...,8.170000,86.000000,0.3,1291.528826,3.295550e+07,NaN,NaN,0.444,6.3,Africa
2465,Sudan,2007,Developing,61.400000,254.0,65,2.010000,86.131669,78.000000,327,...,4.720000,84.000000,0.3,1115.695200,3.228253e+07,NaN,NaN,0.440,6.4,Africa
2466,Sudan,2006,Developing,61.000000,26.0,66,1.900000,60.336857,6.000000,228,...,3.930000,78.000000,0.2,893.879364,3.167640e+05,NaN,NaN,0.430,6.2,Africa
2467,Sudan,2005,Developing,67.000000,261.0,66,1.550000,37.590396,22.000000,1374,...,3.180000,78.000000,0.2,679.753995,3.911914e+06,NaN,NaN,0.423,6.1,Africa
2468,Sudan,2004,Developing,59.700000,278.0,68,1.590000,37.044800,75.600000,9562,...,3.390000,74.000000,0.2,565.569459,3.186341e+06,NaN,NaN,0.415,5.7,Africa
2469,Sudan,2003,Developing,59.600000,278.0,69,1.740000,35.352647,62.148148,4381,...,3.180000,69.000000,0.2,477.738478,2.943594e+07,NaN,NaN,0.409,5.6,Africa
2470,Sudan,2002,Developing,59.400000,277.0,70,1.590000,30.622875,70.217391,4529,...,2.950000,6.000000,0.2,412.151756,2.867956e+07,NaN,NaN,0.403,5.6,Africa
2471,Sudan,2001,Developing,58.900000,283.0,71,1.810000,28.880697,76.615385,4362,...,2.960000,66.000000,0.2,377.525445,2.794550e+05,NaN,NaN,0.399,5.6,Africa
2472,Sudan,2000,Developing,58.600000,284.0,71,1.760000,30.860010,84.090909,2875,...,3.230000,62.000000,0.1,361.358430,2.725535e+06,NaN,NaN,0.394,5.5,Africa

In [230]:
df['thinness  1-19 years'] = df.groupby(['Continent', 'Status', 'Year'])['thinness  1-19 years'].transform(lambda x: x.fillna(x.mean()))

In [232]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
HIV/AIDS                             0
GDP                                  0
Population                           0
thinness  1-19 years                 0
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Continent                            0
thinness  1-19 years                 0
dtype: int64

# 11 Thiness 5 to 9 years:

In [241]:
df['thinness 5-9 years'] = df.groupby(['Continent', 'Status', 'Year'])['thinness 5-9 years'].transform(lambda x: x.fillna(x.mean()))

In [243]:
df[df['thinness 5-9 years'].isnull()]

Empty DataFrame
Columns: [Country, Year, Status, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV/AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Continent, thinness  1-19 years , thinness 5-9 years ]
Index: []

[0 rows x 25 columns]

# 12 . Income composition of resources:

In [246]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
HIV/AIDS                             0
GDP                                  0
Population                           0
thinness  1-19 years                 0
thinness 5-9 years                   0
Income composition of resources    167
Schooling                          163
Continent                            0
thinness  1-19 years                 0
thinness 5-9 years                   0
dtype: int64

In [248]:
df[df['Income composition of resources'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent,thinness 1-19 years,thinness 5-9 years
432,CÃ´te d'Ivoire,2015,Developing,53.3,397.0,57,0.01,0.0,83.0,65,...,1.9,1810.552698,1.024142e+07,5.5,5.5,NaN,NaN,Africa,5.5,5.5
433,CÃ´te d'Ivoire,2014,Developing,52.8,47.0,58,0.01,0.0,76.0,50,...,2.0,1593.367693,1.057559e+07,5.6,5.6,NaN,NaN,Africa,5.6,5.6
434,CÃ´te d'Ivoire,2013,Developing,52.3,412.0,59,3.15,0.0,8.0,48,...,2.4,2053.889127,1.245392e+07,5.8,5.7,NaN,NaN,Africa,5.8,5.7
435,CÃ´te d'Ivoire,2012,Developing,52.0,415.0,59,3.24,0.0,82.0,137,...,2.9,2513.808242,1.138759e+07,5.9,5.9,NaN,NaN,Africa,5.9,5.9
436,CÃ´te d'Ivoire,2011,Developing,51.7,419.0,60,3.13,0.0,62.0,628,...,3.3,2069.640664,8.351600e+06,6.1,6.0,NaN,NaN,Africa,6.1,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2805,United States of America,2004,Developed,77.5,111.0,28,8.48,0.0,92.0,37,...,0.1,5000.012825,3.631989e+06,0.7,0.6,NaN,NaN,North America,0.7,0.6
2806,United States of America,2003,Developed,77.2,114.0,28,8.40,0.0,92.0,56,...,0.1,4680.700924,2.011399e+06,0.7,0.6,NaN,NaN,North America,0.7,0.6
2807,United States of America,2002,Developed,77.0,115.0,28,8.33,0.0,88.0,41,...,0.1,4042.362427,3.050171e+06,0.8,0.6,NaN,NaN,North America,0.8,0.6
2808,United States of America,2001,Developed,76.9,115.0,28,8.25,0.0,89.0,116,...,0.1,4368.535046,2.753088e+06,0.8,0.6,NaN,NaN,North America,0.8,0.6
2809,United States of America,2000,Developed,76.8,114.0,28,8.21,0.0,9.0,85,...,0.1,3754.291338,3.278530e+06,0.8,0.7,NaN,NaN,North America,0.8,0.7

In [250]:
df.groupby(['Continent','Status'])['Income composition of resources'].apply(lambda x:x.isnull().sum())

Continent      Status
Africa         Developing    64
Asia           Developed      0
               Developing    32
Europe         Developed     32
               Developing    18
North America  Developed     16
               Developing     0
Oceania        Developed      0
               Developing     5
South America  Developing     0
Name: Income composition of resources, dtype: int64

In [252]:
df['Income composition of resources'] = df.groupby(['Continent', 'Status', 'Year'])['Income composition of resources'].transform(lambda x: x.fillna(x.mean()))

In [254]:
df.groupby(['Continent','Status'])['Income composition of resources'].apply(lambda x:x.isnull().sum())

Continent      Status
Africa         Developing     0
Asia           Developed      0
               Developing     0
Europe         Developed      0
               Developing     0
North America  Developed     16
               Developing     0
Oceania        Developed      0
               Developing     0
South America  Developing     0
Name: Income composition of resources, dtype: int64

In [256]:
df['Income composition of resources'] = df.groupby(['Continent','Year'])['Income composition of resources'].transform(lambda x: x.fillna(x.mean()))

In [258]:
df.groupby(['Continent','Status'])['Income composition of resources'].apply(lambda x:x.isnull().sum())

Continent      Status
Africa         Developing    0
Asia           Developed     0
               Developing    0
Europe         Developed     0
               Developing    0
North America  Developed     0
               Developing    0
Oceania        Developed     0
               Developing    0
South America  Developing    0
Name: Income composition of resources, dtype: int64

In [260]:
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                              0
percentage expenditure               0
Hepatitis B                          0
Measles                              0
BMI                                  0
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
HIV/AIDS                             0
GDP                                  0
Population                           0
thinness  1-19 years                 0
thinness 5-9 years                   0
Income composition of resources      0
Schooling                          163
Continent                            0
thinness  1-19 years                 0
thinness 5-9 years                   0
dtype: int64

# Schooling:

In [263]:
df[df['Schooling'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent,thinness 1-19 years,thinness 5-9 years
432,CÃ´te d'Ivoire,2015,Developing,53.3,397.0,57,0.01,0.0,83.0,65,...,1.9,1810.552698,1.024142e+07,5.5,5.5,0.53062,NaN,Africa,5.5,5.5
433,CÃ´te d'Ivoire,2014,Developing,52.8,47.0,58,0.01,0.0,76.0,50,...,2.0,1593.367693,1.057559e+07,5.6,5.6,0.52674,NaN,Africa,5.6,5.6
434,CÃ´te d'Ivoire,2013,Developing,52.3,412.0,59,3.15,0.0,8.0,48,...,2.4,2053.889127,1.245392e+07,5.8,5.7,0.52228,NaN,Africa,5.8,5.7
435,CÃ´te d'Ivoire,2012,Developing,52.0,415.0,59,3.24,0.0,82.0,137,...,2.9,2513.808242,1.138759e+07,5.9,5.9,0.51474,NaN,Africa,5.9,5.9
436,CÃ´te d'Ivoire,2011,Developing,51.7,419.0,60,3.13,0.0,62.0,628,...,3.3,2069.640664,8.351600e+06,6.1,6.0,0.50926,NaN,Africa,6.1,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2805,United States of America,2004,Developed,77.5,111.0,28,8.48,0.0,92.0,37,...,0.1,5000.012825,3.631989e+06,0.7,0.6,0.61290,NaN,North America,0.7,0.6
2806,United States of America,2003,Developed,77.2,114.0,28,8.40,0.0,92.0,56,...,0.1,4680.700924,2.011399e+06,0.7,0.6,0.60900,NaN,North America,0.7,0.6
2807,United States of America,2002,Developed,77.0,115.0,28,8.33,0.0,88.0,41,...,0.1,4042.362427,3.050171e+06,0.8,0.6,0.60485,NaN,North America,0.8,0.6
2808,United States of America,2001,Developed,76.9,115.0,28,8.25,0.0,89.0,116,...,0.1,4368.535046,2.753088e+06,0.8,0.6,0.60135,NaN,North America,0.8,0.6
2809,United States of America,2000,Developed,76.8,114.0,28,8.21,0.0,9.0,85,...,0.1,3754.291338,3.278530e+06,0.8,0.7,0.49020,NaN,North America,0.8,0.7

In [265]:
df.groupby(['Continent','Status'])['Schooling'].apply(lambda x:x.isnull().sum())

Continent      Status
Africa         Developing    64
Asia           Developed      0
               Developing    32
Europe         Developed     32
               Developing    17
North America  Developed     16
               Developing     0
Oceania        Developed      0
               Developing     2
South America  Developing     0
Name: Schooling, dtype: int64

In [267]:
df['Schooling'] = df.groupby(['Continent', 'Status', 'Year'])['Schooling'].transform(lambda x: x.fillna(x.mean()))

In [269]:
df[df['Schooling'].isnull()]

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Continent,thinness 1-19 years,thinness 5-9 years
2794,United States of America,2015,Developed,79.3,13.0,23,8.82,0.0,92.0,188,...,0.1,8878.386673,3.777412e+06,0.8,0.6,0.72930,NaN,North America,0.8,0.6
2795,United States of America,2014,Developed,79.1,14.0,23,8.82,0.0,92.0,667,...,0.1,5906.522555,5.335160e+06,0.8,0.6,0.72475,NaN,North America,0.8,0.6
2796,United States of America,2013,Developed,78.9,16.0,23,8.82,0.0,91.0,187,...,0.1,6820.789433,1.516106e+07,0.7,0.6,0.72400,NaN,North America,0.7,0.6
2797,United States of America,2012,Developed,78.8,16.0,24,8.82,0.0,9.0,55,...,0.1,8776.194023,1.867837e+06,0.7,0.6,0.72035,NaN,North America,0.7,0.6
2798,United States of America,2011,Developed,78.7,16.0,25,8.67,0.0,91.0,220,...,0.1,4455.897225,1.869980e+06,0.7,0.6,0.71745,NaN,North America,0.7,0.6
2799,United States of America,2010,Developed,78.7,15.0,25,8.55,0.0,92.0,63,...,0.1,8287.786893,1.258056e+07,0.7,0.6,0.67785,NaN,North America,0.7,0.6
2800,United States of America,2009,Developed,78.5,18.0,26,8.71,0.0,92.0,71,...,0.1,4486.547061,6.075964e+06,0.7,0.6,0.67665,NaN,North America,0.7,0.6
2801,United States of America,2008,Developed,78.2,18.0,27,8.74,0.0,94.0,140,...,0.1,6844.762198,4.607895e+06,0.7,0.6,0.67245,NaN,North America,0.7,0.6
2802,United States of America,2007,Developed,78.1,11.0,27,8.74,0.0,93.0,43,...,0.1,6320.389813,1.268620e+07,0.7,0.6,0.66750,NaN,North America,0.7,0.6
2803,United States of America,2006,Developed,77.8,113.0,28,8.63,0.0,93.0,55,...,0.1,4801.428852,1.165069e+06,0.7,0.6,0.66090,NaN,North America,0.7,0.6
2804,United States of America,2005,Developed,77.5,112.0,28,8.52,0.0,93.0,66,...,0.1,6847.384306,3.419992e+06,0.7,0.6,0.61805,NaN,North America,0.7,0.6
2805,United States of America,2004,Developed,77.5,111.0,28,8.48,0.0,92.0,37,...,0.1,5000.012825,3.631989e+06,0.7,0.6,0.61290,NaN,North America,0.7,0.6
2806,United States of America,2003,Developed,77.2,114.0,28,8.40,0.0,92.0,56,...,0.1,4680.700924,2.011399e+06,0.7,0.6,0.60900,NaN,North America,0.7,0.6
2807,United States of America,2002,Developed,77.0,115.0,28,8.33,0.0,88.0,41,...,0.1,4042.362427,3.050171e+06,0.8,0.6,0.60485,NaN,North America,0.8,0.6
2808,United States of America,2001,Developed,76.9,115.0,28,8.25,0.0,89.0,116,...,0.1,4368.535046,2.753088e+06,0.8,0.6,0.60135,NaN,North America,0.8,0.6
2809,United States of America,2000,Developed,76.8,114.0,28,8.21,0.0,9.0,85,...,0.1,3754.291338,3.278530e+06,0.8,0.7,0.49020,NaN,North America,0.8,0.7

In [271]:
df['Schooling'] = df.groupby(['Continent','Year'])['Schooling'].transform(lambda x: x.fillna(x.mean()))

In [273]:
df[df['Schooling'].isnull()]

Empty DataFrame
Columns: [Country, Year, Status, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV/AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Continent, thinness  1-19 years , thinness 5-9 years ]
Index: []

[0 rows x 25 columns]

In [275]:
df.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
BMI                                0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
HIV/AIDS                           0
GDP                                0
Population                         0
thinness  1-19 years               0
thinness 5-9 years                 0
Income composition of resources    0
Schooling                          0
Continent                          0
thinness  1-19 years               0
thinness 5-9 years                 0
dtype: int64

## ALL NULL VALUES GET HANDLED:

In [277]:
df.to_csv('cleaned_life_expectancy.csv', index=False)